{% extends "template/main.twig" %}
{% block content %}
    <div class="page-wrapper">
        <section class="event-banner">

            <div class="image-layer" style="background-image:url(../images/background/banner-image-7.jpg);"></div>

            <div class="banner-inner">

                <div class="auto-container">

                    <div class="inner-container clearfix">

                        <div class="cat-info clearfix">

                            <a href="#">Fun & Play</a>

                        </div>

                        <h1>Dacy's Parade Balloon Inflation</h1>

                    </div>

                </div>

            </div>

        </section>



        <!--Events Section-->

        <section class="event-details-section">

            <div class="auto-container">

                <div class="event-details">

                    <div class="row clearfix">

                        <!--Content Column-->

                        <div class="content-column col-lg-8 col-md-12 col-sm-12">

                            <div class="content-inner">

                                <!--Info-->

                                <div class="info-blocks">

                                    <div class="row clearfix">

                                        <div class="info-block col-md-6 col-sm-12">

                                            <div class="inner-box">

                                                <div class="icon"><span class="flaticon-circular-clock"></span></div>

                                                <h4>Date & Time</h4>

                                                <ul>

                                                    <li>January 14, 2020</li>

                                                    <li>Thursday at 09.00 to 14.00</li>

                                                </ul>

                                            </div>

                                        </div>

                                        <div class="info-block col-md-6 col-sm-12">

                                            <div class="inner-box">

                                                <div class="icon"><span class="flaticon-map"></span></div>

                                                <h4>Location</h4>

                                                <ul>

                                                    <li>245 Holland Rd, Kensington,</li>

                                                    <li>London W14 8BD</li>

                                                </ul>

                                            </div>

                                        </div>

                                    </div>

                                </div>



                                <div class="main-image">

                                    <figure class="image"><img src="images/resource/featured-image-27.jpg" alt=""></figure>

                                </div>



                                <div class="text-block">

                                    <h2>Overview</h2>

                                    <p>How all this mistaken idea of denouncing pleasure praising pain was born and i will give you all complete account of the system of great explorer of the truth pursues in a free hour, when power of choice is untrammelled
                                        and when nothing.</p>

                                    <p>Denouncing pleasure and praising pain was born and i will give all complete account the system expound every pleasure is to be welcomed and every pain avoided.</p>

                                </div>



                                <div class="more-info-box">

                                    <div class="inner-box">

                                        <div class="timings">

                                            <div class="curve"></div>

                                            <div class="inner">

                                                <ul>

                                                    <li>9am - 10am</li>

                                                    <li>10am - 12pm</li>

                                                    <li>12.30pm - 2pm</li>

                                                </ul>

                                            </div>

                                        </div>

                                        <div class="toggle-box">

                                            <div class="accordion-box">

                                                <!--Block-->

                                                <div class="accordion block">

                                                    <div class="acc-btn">Welcome speech from mayor
                                                        <div class="icon flaticon-cross"></div>
                                                    </div>

                                                    <div class="acc-content">

                                                        <div class="content">

                                                            <div class="text">Pleasure and praising pain was born and give you a complete.</div>

                                                        </div>

                                                    </div>

                                                </div>



                                                <!--Block-->

                                                <div class="accordion block current">

                                                    <div class="acc-btn active">Program starts from LN school ground
                                                        <div class="icon flaticon-cross"></div>
                                                    </div>

                                                    <div class="acc-content">

                                                        <div class="content">

                                                            <div class="text">Pleasure and praising pain was born and give you a complete.</div>

                                                        </div>

                                                    </div>

                                                </div>



                                                <!--Block-->

                                                <div class="accordion block">

                                                    <div class="acc-btn">Price distribution
                                                        <div class="icon flaticon-cross"></div>
                                                    </div>

                                                    <div class="acc-content">

                                                        <div class="content">

                                                            <div class="text">Pleasure and praising pain was born and give you a complete.</div>

                                                        </div>

                                                    </div>

                                                </div>



                                            </div>

                                        </div>

                                    </div>

                                </div>



                                <div class="special-guest">

                                    <h2>Special Guest</h2>



                                    <div class="guest-carousel owl-theme owl-carousel">

                                        <!--Guest-->

                                        <div class="guest-block">

                                            <div class="inner-box">

                                                <div class="inner">

                                                    <figure class="image"><img src="images/resource/guest-image-1.jpg" alt=""></figure>

                                                    <h4>AK. Marian <br>Lenora</h4>

                                                    <div class="designation">Mayor</div>

                                                </div>

                                            </div>

                                        </div>

                                        <!--Guest-->

                                        <div class="guest-block">

                                            <div class="inner-box">

                                                <div class="inner">

                                                    <figure class="image"><img src="images/resource/guest-image-2.jpg" alt=""></figure>

                                                    <h4>VJ. Herman <br>Gordon</h4>

                                                    <div class="designation">Actuary</div>

                                                </div>

                                            </div>

                                        </div>

                                        <!--Guest-->

                                        <div class="guest-block">

                                            <div class="inner-box">

                                                <div class="inner">

                                                    <figure class="image"><img src="images/resource/guest-image-1.jpg" alt=""></figure>

                                                    <h4>AK. Marian <br>Lenora</h4>

                                                    <div class="designation">Mayor</div>

                                                </div>

                                            </div>

                                        </div>

                                        <!--Guest-->

                                        <div class="guest-block">

                                            <div class="inner-box">

                                                <div class="inner">

                                                    <figure class="image"><img src="images/resource/guest-image-2.jpg" alt=""></figure>

                                                    <h4>VJ. Herman <br>Gordon</h4>

                                                    <div class="designation">Actuary</div>

                                                </div>

                                            </div>

                                        </div>

                                        <!--Guest-->

                                        <div class="guest-block">

                                            <div class="inner-box">

                                                <div class="inner">

                                                    <figure class="image"><img src="images/resource/guest-image-1.jpg" alt=""></figure>

                                                    <h4>AK. Marian <br>Lenora</h4>

                                                    <div class="designation">Mayor</div>

                                                </div>

                                            </div>

                                        </div>

                                        <!--Guest-->

                                        <div class="guest-block">

                                            <div class="inner-box">

                                                <div class="inner">

                                                    <figure class="image"><img src="images/resource/guest-image-2.jpg" alt=""></figure>

                                                    <h4>VJ. Herman <br>Gordon</h4>

                                                    <div class="designation">Actuary</div>

                                                </div>

                                            </div>

                                        </div>

                                    </div>

                                </div>





                                <div class="share-post">

                                    <strong>Share this post with your friends</strong>

                                    <ul class="links clearfix">

                                        <li class="facebook"><a href="#"><span class="icon fab fa-facebook-f"></span><span class="txt">Facebook</span></a></li>

                                        <li class="twitter"><a href="#"><span class="icon fab fa-twitter"></span><span class="txt">Twiter</span></a></li>

                                        <li class="linkedin"><a href="#"><span class="icon fab fa-linkedin-in"></span><span class="txt">Linkedin</span></a></li>

                                        <li class="pinterest"><a href="#"><span class="icon fab fa-pinterest-p"></span><span class="txt">Pinterest</span></a></li>

                                    </ul>

                                </div>



                                <div class="related-posts">

                                    <h2>Related Events</h2>



                                    <div class="row clearfix">

                                        <!--Event Block-->

                                        <div class="event-block-three col-md-6 col-sm-12">

                                            <div class="inner-box">

                                                <div class="image-box">

                                                    <figure class="image">
                                                        <a href="acara.twig"><img src="images/resource/featured-image-28.jpg" alt=""></a>
                                                    </figure>

                                                </div>

                                                <div class="lower-box">

                                                    <div class="content-box">

                                                        <div class="date-box">
                                                            <div class="date"><span class="day">14</span><span class="month">Dec</span></div>
                                                        </div>

                                                        <div class="content">

                                                            <div class="cat-info"><a href="acara.twig">Conference</a></div>

                                                            <h4><a href="acara.twig">Dacy's parade balloon inflation</a></h4>

                                                            <div class="location">At 12th street, Central park west, UK</div>

                                                            <div class="read-more"><a href="acara.twig">Read More</a></div>

                                                        </div>

                                                    </div>

                                                </div>

                                            </div>

                                        </div>

                                        <!--Event Block-->

                                        <div class="event-block-three col-md-6 col-sm-12">

                                            <div class="inner-box">

                                                <div class="image-box">

                                                    <figure class="image">
                                                        <a href="acara.twig"><img src="images/resource/featured-image-29.jpg" alt=""></a>
                                                    </figure>

                                                </div>

                                                <div class="lower-box">

                                                    <div class="content-box">

                                                        <div class="date-box">
                                                            <div class="date"><span class="day">22</span><span class="month">Dec</span></div>
                                                        </div>

                                                        <div class="content">

                                                            <div class="cat-info"><a href="acara.twig">Conference</a></div>

                                                            <h4><a href="acara.twig">Mayor's christmas carol service</a></h4>

                                                            <div class="location">At 12th street, Central park west, UK</div>

                                                            <div class="read-more"><a href="acara.twig">Read More</a></div>

                                                        </div>

                                                    </div>

                                                </div>

                                            </div>

                                        </div>

                                    </div>

                                </div>



                            </div>

                        </div>

                        <!--Info Column-->

                        <div class="info-column col-lg-4 col-md-12 col-sm-12">

                            <div class="info-inner">

                                <div class="title">
                                    <h4>Contact Details</h4>
                                </div>

                                <div class="content">

                                    <div class="contact-box">

                                        <div class="info">

                                            <ul>

                                                <li class="clearfix"><span class="ttl">Organizer:</span> <span class="dtl">Herman Gordon</span></li>

                                                <li class="clearfix"><span class="ttl">Phone:</span> <span class="dtl"><a href="tel:+4488845678">+44 888 456 78</a></span></li>

                                                <li class="clearfix"><span class="ttl">Email:</span> <span class="dtl"><a href="mailto:gordon@mygovt.com">gordon@mygovt.com</a></span></li>

                                                <li class="clearfix"><span class="ttl">Social connect:</span> <span class="dtl"><a href="#">Facebook</a> <a href="#">Twitter</a></span></li>

                                            </ul>

                                        </div>

                                        <div class="location-box">

                                            <!--Map Box-->

                                            <div class="map-box">

                                                <div class="map-canvas" data-zoom="7" data-lat="-37.817085" data-lng="144.955631" data-type="roadmap" data-hue="#ffc400" data-title="Melbourne" data-icon-path="images/icons/map-marker.png" data-content="Melbourne VIC 3000, Australia<br><a href='mailto:info@youremail.com'>info@youremail.com</a>">

                                                </div>

                                            </div>

                                        </div>

                                        <div class="default-form booking-form">

                                            <h4>Free Booking</h4>

                                            <form method="post" action="http://st.ourhtmldemo.com/new/City.Govt/contact.html">

                                                <div class="form-group">

                                                    <input type="text" name="username" placeholder="Name *" required="">

                                                </div>



                                                <div class="form-group">

                                                    <input type="email" name="email" placeholder="Email Address *" required="">

                                                </div>

                                                <div class="form-group">

                                                    <input type="email" name="email" placeholder="No.of participants *" required="">

                                                </div>

                                                <div class="form-group">

                                                    <textarea name="message" placeholder="Your Comments"></textarea>

                                                </div>

                                                <div class="form-group">

                                                    <button type="submit" class="theme-btn btn-style-one"><span class="btn-title">Book Now</span></button>

                                                </div>

                                            </form>

                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </section>

    </div>
    <!--End pagewrapper-->
{% endblock %}