{% extends "template/main.twig" %}
{% block content %}
<div class="page-wrapper">
    <section class="page-banner">
        <div class="image-layer" style="background-image:url(../images/background/banner-image-3.jpg);"></div>
        <div class="banner-inner">
            <div class="auto-container">
                <div class="inner-container clearfix">
                    <h1>Title Overlay</h1>
                    <div class="page-nav">
                        <ul class="bread-crumb clearfix">
                            <li><a href="index.html">Home</a></li>
                            <li><a href="#">City Govt</a></li>
                            <li class="active">Portfolio</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="portfolio-section loadmore-gallery-one portfolio-mixitup">
        <div class="auto-container">
            <div class="sec-title with-separator centered">
                <h2>Desa Campurejo <br>Sampit Ponorogo</h2>
                <div class="separator"><span class="cir c-1"></span><span class="cir c-2"></span><span
                            class="cir c-3"></span></div>
            </div>
            <!--Mixit Galery-->
            <div class="mixit-gallery filter-gallery">
                <div class="filters clearfix">
                    <ul class="filter-tabs filter-btns clearfix">
                        <li class="filter active" data-role="button" data-filter="all">View All</li>
                        <li class="filter" data-role="button" data-filter=".conference">Penyuluhan</li>
                        <li class="filter" data-role="button" data-filter=".celebration">Dana Desa</li>
                        <li class="filter" data-role="button" data-filter=".tour">Gotong Royong</li>
                        <li class="filter" data-role="button" data-filter=".industry">Bakti Sosial</li>
                    </ul>
                </div>
                <div class="filter-gallery-one row clearfix">
                    <!--Gallery Item-->
                    <div class="gallery-block mix all tour industry col-lg-4 col-md-6 col-sm-12">
                        <div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                            <div class="image-box">
                                <figure class="image">
                                    <img src="images/gallery/grid8.jpg" alt="">
                                </figure>
                                <div class="zoom-btn">
                                    <a class="lightbox-image zoom-link" href="images/gallery/g8.jpg"
                                       data-fancybox="gallery"><span class="icon flaticon-zoom-in"></span></a>
                                </div>
                                <div class="cap-box">
                                    <h6>Tourist Guide</h6>
                                    <h3><a href="#"><span>[</span> Mayor golf day <span>]</span></a></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Gallery Item-->
                    <div class="gallery-block mix all celebration tour col-lg-4 col-md-6 col-sm-12">
                        <div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                            <div class="image-box">
                                <figure class="image">
                                    <img src="images/gallery/grid1.jpg" alt="">
                                </figure>
                                <div class="zoom-btn">
                                    <a class="lightbox-image zoom-link" href="images/gallery/g1.jpg"
                                       data-fancybox="gallery"><span class="icon flaticon-zoom-in"></span></a>
                                </div>
                                <div class="cap-box">
                                    <h6>Tourist Guide</h6>
                                    <h3><a href="#"><span>[</span> City metro train <span>]</span></a></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Gallery Item-->
                    <div class="gallery-block mix all conference tour col-lg-4 col-md-6 col-sm-12">
                        <div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                            <div class="image-box">
                                <figure class="image">
                                    <img src="images/gallery/grid2.jpg" alt="">
                                </figure>
                                <div class="zoom-btn">
                                    <a class="lightbox-image zoom-link" href="images/gallery/g2.jpeg"
                                       data-fancybox="gallery"><span class="icon flaticon-zoom-in"></span></a>
                                </div>
                                <div class="cap-box">
                                    <h6>Tourist Guide</h6>
                                    <h3><a href="#"><span>[</span> St james park <span>]</span></a></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Gallery Item-->
                    <div class="gallery-block mix all celebration tour col-lg-4 col-md-6 col-sm-12">
                        <div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                            <div class="image-box">
                                <figure class="image">
                                    <img src="images/gallery/grid3.jpg" alt="">
                                </figure>
                                <div class="zoom-btn">
                                    <a class="lightbox-image zoom-link" href="images/gallery/g3.jpg"
                                       data-fancybox="gallery"><span class="icon flaticon-zoom-in"></span></a>
                                </div>
                                <div class="cap-box">
                                    <h6>Tourist Guide</h6>
                                    <h3><a href="#"><span>[</span> British museum <span>]</span></a></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Gallery Item-->
                    <div class="gallery-block mix all conference celebration tour industry col-lg-4 col-md-6 col-sm-12">
                        <div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                            <div class="image-box">
                                <figure class="image">
                                    <img src="images/gallery/grid4.jpg" alt="">
                                </figure>
                                <div class="zoom-btn">
                                    <a class="lightbox-image zoom-link" href="images/gallery/g4.jpg"
                                       data-fancybox="gallery"><span class="icon flaticon-zoom-in"></span></a>
                                </div>
                                <div class="cap-box">
                                    <h6>Tourist Guide</h6>
                                    <h3><a href="#"><span>[</span> Tower of london <span>]</span></a></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Gallery Item-->
                    <div class="gallery-block mix all celebration tour industry col-lg-4 col-md-6 col-sm-12">
                        <div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                            <div class="image-box">
                                <figure class="image">
                                    <img src="images/gallery/grid5.jpg" alt="">
                                </figure>
                                <div class="zoom-btn">
                                    <a class="lightbox-image zoom-link" href="images/gallery/g5.jpg"
                                       data-fancybox="gallery"><span class="icon flaticon-zoom-in"></span></a>
                                </div>
                                <div class="cap-box">
                                    <h6>Tourist Guide</h6>
                                    <h3><a href="#"><span>[</span> Job expo 2019 <span>]</span></a></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Gallery Item-->
                    <div class="gallery-block mix all conference tour industry col-lg-4 col-md-6 col-sm-12">
                        <div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                            <div class="image-box">
                                <figure class="image">
                                    <img src="images/gallery/grid6.jpg" alt="">
                                </figure>
                                <div class="zoom-btn">
                                    <a class="lightbox-image zoom-link" href="images/gallery/g6.jpg"
                                       data-fancybox="gallery"><span class="icon flaticon-zoom-in"></span></a>
                                </div>
                                <div class="cap-box">
                                    <h6>Tourist Guide</h6>
                                    <h3><a href="#"><span>[</span> Parking clerk <span>]</span></a></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Gallery Item-->
                    <div class="gallery-block mix all conference celebration industry col-lg-4 col-md-6 col-sm-12">
                        <div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                            <div class="image-box">
                                <figure class="image">
                                    <img src="images/gallery/grid7.jpg" alt="">
                                </figure>
                                <div class="zoom-btn">
                                    <a class="lightbox-image zoom-link" href="images/gallery/g7.jpg"
                                       data-fancybox="gallery"><span class="icon flaticon-zoom-in"></span></a>
                                </div>
                                <div class="cap-box">
                                    <h6>Tourist Guide</h6>
                                    <h3><a href="#"><span>[</span> Affordable parking <span>]</span></a></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Gallery Item-->
                    <div class="gallery-block mix all conference celebration tour  col-lg-4 col-md-6 col-sm-12">
                        <div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                            <div class="image-box">
                                <figure class="image">
                                    <img src="images/gallery/grid8.jpg" alt="">
                                </figure>
                                <div class="zoom-btn">
                                    <a class="lightbox-image zoom-link" href="images/gallery/g8.jpg"
                                       data-fancybox="gallery"><span class="icon flaticon-zoom-in"></span></a>
                                </div>
                                <div class="cap-box">
                                    <h6>Tourist Guide</h6>
                                    <h3><a href="#"><span>[</span> Buckingham palace <span>]</span></a></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Gallery Item-->
                    <div class="gallery-block mix all tour industry col-lg-4 col-md-6 col-sm-12">
                        <div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                            <div class="image-box">
                                <figure class="image">
                                    <img src="images/gallery/grid9.jpg" alt="">
                                </figure>
                                <div class="zoom-btn">
                                    <a class="lightbox-image zoom-link" href="images/gallery/g9.jpg"
                                       data-fancybox="gallery"><span class="icon flaticon-zoom-in"></span></a>
                                </div>
                                <div class="cap-box">
                                    <h6>Tourist Guide</h6>
                                    <h3><a href="#"><span>[</span> Mayor golf day <span>]</span></a></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Gallery Item-->
                    <div class="gallery-block mix all celebration tour col-lg-4 col-md-6 col-sm-12">
                        <div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                            <div class="image-box">
                                <figure class="image">
                                    <img src="images/gallery/grid5.jpg" alt="">
                                </figure>
                                <div class="zoom-btn">
                                    <a class="lightbox-image zoom-link" href="images/gallery/g5.jpg"
                                       data-fancybox="gallery"><span class="icon flaticon-zoom-in"></span></a>
                                </div>
                                <div class="cap-box">
                                    <h6>Tourist Guide</h6>
                                    <h3><a href="#"><span>[</span> City metro train <span>]</span></a></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Gallery Item-->
                    <div class="gallery-block mix all conference tour col-lg-4 col-md-6 col-sm-12">
                        <div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                            <div class="image-box">
                                <figure class="image">
                                    <img src="images/gallery/grid7.jpg" alt="">
                                </figure>
                                <div class="zoom-btn">
                                    <a class="lightbox-image zoom-link" href="images/gallery/g7.jpg"
                                       data-fancybox="gallery"><span class="icon flaticon-zoom-in"></span></a>
                                </div>
                                <div class="cap-box">
                                    <h6>Tourist Guide</h6>
                                    <h3><a href="#"><span>[</span> St james park <span>]</span></a></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Gallery Item-->
                    <div class="gallery-block mix all celebration tour col-lg-4 col-md-6 col-sm-12">
                        <div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                            <div class="image-box">
                                <figure class="image">
                                    <img src="images/gallery/grid4.jpg" alt="">
                                </figure>
                                <div class="zoom-btn">
                                    <a class="lightbox-image zoom-link" href="images/gallery/g4.jpg"
                                       data-fancybox="gallery"><span class="icon flaticon-zoom-in"></span></a>
                                </div>
                                <div class="cap-box">
                                    <h6>Tourist Guide</h6>
                                    <h3><a href="#"><span>[</span> British museum <span>]</span></a></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Gallery Item-->
                    <div class="gallery-block mix all conference celebration tour industry col-lg-4 col-md-6 col-sm-12">
                        <div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                            <div class="image-box">
                                <figure class="image">
                                    <img src="images/gallery/grid5.jpg" alt="">
                                </figure>
                                <div class="zoom-btn">
                                    <a class="lightbox-image zoom-link" href="images/gallery/g5.jpg"
                                       data-fancybox="gallery"><span class="icon flaticon-zoom-in"></span></a>
                                </div>
                                <div class="cap-box">
                                    <h6>Tourist Guide</h6>
                                    <h3><a href="#"><span>[</span> Tower of london <span>]</span></a></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Gallery Item-->
                    <div class="gallery-block mix all celebration tour industry col-lg-4 col-md-6 col-sm-12">
                        <div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                            <div class="image-box">
                                <figure class="image">
                                    <img src="images/gallery/g6.jpg" alt="">
                                </figure>
                                <div class="zoom-btn">
                                    <a class="lightbox-image zoom-link" href="images/gallery/g6.jpg"
                                       data-fancybox="gallery"><span class="icon flaticon-zoom-in"></span></a>
                                </div>
                                <div class="cap-box">
                                    <h6>Tourist Guide</h6>
                                    <h3><a href="#"><span>[</span> Job expo 2019 <span>]</span></a></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="loadmore"></div>
                <!--<div class="load-more text-center">
                <a href="portfolio-grid-2.html" class="theme-btn btn-style-one"><span class="btn-title">Load More</span></a>
            </div>-->
            </div>
        </div>
    </section>
</div>

{% endblock %}
