{% extends "template/main.twig" %}
{% block content %}
<div class="page-wrapper">
    <!-- Banner Section -->

    <section class="banner-section banner-one">
        <div class="banner-carousel owl-theme owl-carousel">
            <!-- Slide Item -->
            <div class="slide-item">
                <div class="image-layer" style="background-image: url({{baseUrl}}/images/main-slider/desa1.jpg);"></div>
                <div class="auto-container">
                    <div class="content-box">
                        <div class="content clearfix">
                            <div class="inner">
                                <h1>London is <br>Best Town on <br>Earth</h1>
                                <div class="text">We're starting off with a handful of spots that should also be on your
                                    bucket list.
                                </div>
                                <!--                                <div class="links-box clearfix">-->
                                <!--                                    <a href="about.html" class="theme-btn btn-style-one"><span class="btn-title">Learn More</span></a>-->
                                <!--                                    <a href="https://www.youtube.com/watch?v=Get7rqXYrbQ"-->
                                <!--                                       class="theme-btn btn-style-two lightbox-image"><span class="btn-title"><span-->
                                <!--                                            class="icon flaticon-media-play-symbol"></span> City Video</span></a>-->
                                <!--                                </div>-->
                            </div>
                        </div>
                    </div>
                </div>
                <!--                <div class="next-slide">-->
                <!--                    <div class="inner">-->
                <!--                        <div class="count">02</div>-->
                <!--                        <div class="text">Save time , pay your tax online</div>-->
                <!--                        <div class="arrow"><span class="flaticon-next"></span></div>-->
                <!--                    </div>-->
                <!--                </div>-->
            </div>
            <!-- Slide Item -->
            <div class="slide-item">
                <div class="image-layer" style="background-image: url({{baseUrl}}/images/main-slider/desa2.jpg);"></div>
                <div class="auto-container">
                    <div class="content-box">
                        <div class="content clearfix">
                            <div class="inner">
                                <h1>Save Time, <br>pay your tax <br>online </h1>
                                <div class="text">We're starting off with a handful of spots that should also be on your
                                    bucket list.
                                </div>
                                <!--                                <div class="links-box clearfix">-->
                                <!--                                    <a href="about.html" class="theme-btn btn-style-one"><span class="btn-title">Pay Your Tax</span></a>-->
                                <!--                                    <a href="https://www.youtube.com/watch?v=Get7rqXYrbQ"-->
                                <!--                                       class="theme-btn btn-style-two lightbox-image"><span class="btn-title"><span-->
                                <!--                                            class="icon flaticon-media-play-symbol"></span> Video Guide</span></a>-->
                                <!--                                </div>-->
                            </div>
                        </div>
                    </div>
                </div>
                <!--                <div class="next-slide">-->
                <!--                    <div class="inner">-->
                <!--                        <div class="count">03</div>-->
                <!--                        <div class="text">The worls’d larget urban museum</div>-->
                <!--                        <div class="arrow"><span class="flaticon-next"></span></div>-->
                <!--                    </div>-->
                <!--                </div>-->
            </div>
            <!-- Slide Item -->
            <div class="slide-item">
                <div class="image-layer" style="background-image: url({{baseUrl}}/images/main-slider/desa3.jpg);"></div>
                <div class="auto-container">
                    <div class="content-box">
                        <div class="content clearfix">
                            <div class="inner">
                                <h1>the world's <br>largest urban <br>museum</h1>
                                <div class="text">We're starting off with a handful of spots that should also be on your
                                    bucket list.
                                </div>
                                <!--                                <div class="links-box clearfix">-->
                                <!--                                    <a href="about.html" class="theme-btn btn-style-one"><span class="btn-title">Learn More</span></a>-->
                                <!--                                    <a href="about.html" class="theme-btn btn-style-two"><span class="btn-title">Visit Museum</span></a>-->
                                <!--                                </div>-->
                            </div>
                        </div>
                    </div>
                </div>
                <!--                <div class="next-slide">-->
                <!--                    <div class="inner">-->
                <!--                        <div class="count">01</div>-->
                <!--                        <div class="text">London is best town on earth</div>-->
                <!--                        <div class="arrow"><span class="flaticon-next"></span></div>-->
                <!--                    </div>-->
                <!--                </div>-->
            </div>
        </div>
    </section>

    <!--End Banner Section -->

    <!--Welcome Section-->

    <section class="welcome-section">
        <div class="auto-container">
            <div class="sec-title centered">
                <h2>Desa Campurejo Sambit Ponorogo </h2>
                <div class="lower-text">Desa Campurejo memberikan Pelayanan berbasis Digital
                    untuk mempermudah warganya melakukan :
                </div>
            </div>
            <div class="row clearfix">
                <!--Feature Block-->
                <div class="featured-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="content-box">
                            <div class="icon-box"><span class="flaticon-letter"></span></div>
                            <div class="content">
                                <div class="subtitle">Pengajuan</div>
                                <h4><a href="#">Surat Keterangan.</a></h4>
                            </div>
                        </div>
                        <div class="more-link">
                            <a href="#"><span class="flaticon-right-2"></span></a>
                        </div>
                    </div>
                </div>

                <!--Feature Block-->

                <div class="featured-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="content-box">
                            <div class="icon-box"><span class="flaticon-building"></span></div>
                            <div class="content">
                                <div class="subtitle">Pengecekan</div>
                                <h4><a href="#">Pajak Bumi dan Bangunan.</a></h4>
                            </div>
                        </div>

                        <div class="more-link">
                            <a href="#"><span class="flaticon-right-2"></span></a>
                        </div>
                    </div>
                </div>


                <!--Feature Block-->
                <div class="featured-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="content-box">
                            <div class="icon-box"><span class="flaticon-clipboard"></span></div>
                            <div class="content">
                                <div class="subtitle">Keluhan</div>
                                <h4><a href="#">Krikik dan Saran.</a></h4>
                            </div>
                        </div>

                        <div class="more-link">
                            <a href="#"><span class="flaticon-right-2"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--Services Section-->

    <section class="services-section-two">
        <div class="image-layer" style="background-image: url({{baseUrl}}/images/background/image-4.jpg);"></div>
        <div class="auto-container">
            <div class="sec-title light with-separator centered">
                <h2>Explore Online Services</h2>
                <div class="separator"><span class="cir c-1"></span><span class="cir c-2"></span><span
                        class="cir c-3"></span></div>
            </div>
            <div class="outer clearfix">
                <div class="column nav-column">
                    <!--                    <div class="inner">-->
                    <!--                        <ul>-->
                    <!--                            <li><a href="miscellaneous.html">Miscellaneous</a></li>-->
                    <!--                            <li><a href="miscellaneous.html">Taxes and bills</a></li>-->
                    <!--                            <li><a href="miscellaneous.html">Property tax related</a></li>-->
                    <!--                            <li><a href="miscellaneous.html">Certificates</a></li>-->
                    <!--                            <li><a href="miscellaneous.html">Building sanctions</a></li>-->
                    <!--                        </ul>-->
                    <!--                    </div>-->
                </div>

                <div class="column image-column">
                    <div class="inner">
                        <div class="image-box">
                            <figure class="image"><img src="{{baseUrl}}/images/resource/desa.jpg" alt=""></figure>
                            <div class="over-box">
                                <div class="icon-box"><span class="flaticon-play"></span></div>
                                <h4>Video Guidelines For Online Services</h4>
                            </div>
                            <a href="https://www.youtube.com/watch?v=Get7rqXYrbQ" class="over-link lightbox-image"></a>
                        </div>
                    </div>
                </div>


                <!--                <div class="column nav-column">-->
                <!--                    <div class="inner">-->
                <!--                        <ul>-->
                <!--                            <li><a href="miscellaneous.html">Birth certificate</a></li>-->
                <!--                            <li><a href="miscellaneous.html">Commencement</a></li>-->
                <!--                            <li><a href="miscellaneous.html">Death certificate</a></li>-->
                <!--                            <li><a href="miscellaneous.html">Fire NOC</a></li>-->
                <!--                            <li><a href="miscellaneous.html">Raise compaints</a></li>-->
                <!--                        </ul>-->
                <!--                    </div>-->
                <!--                </div>-->
            </div>
        </div>
    </section>

    <!--    News Section-->

    <section class="news-section">
        <div class="auto-container">
            <div class="sec-title with-separator">
                <h2>Berita</h2>
                <div class="separator"><span class="cir c-1"></span><span class="cir c-2"></span><span
                        class="cir c-3"></span></div>
            </div>


            <div class="carousel-box">
                <div class="news-carousel owl-theme owl-carousel">
                    <!--News Block-->
                    {% for val in artikel %}
                    <div class="news-block">
                        <div class="inner-box">
                            <div class="image-box">
                                <figure class="image"><img src="{{val.thumbnail}}" alt=""></figure>
                                <div>
                                    <div>
                                        <a href="{{val.thumbnail}}"></a>
                                    </div>
                                </div>
                            </div>

                            <div class="lower-box">
                                <div class="upper-info">
                                    <h4><a href="{{ baseUrl }}/berita/{{ val.alias }}">{{ val.judul }}</a></h4>
                                    <div class="cat-info"><a href="#"><span class="fa fa-folder"></span>{{ val.kategori }}</a></div>
                                </div>

                                <div class="meta-info clearfix">
                                    <div class="author-info clearfix">
                                        <div class="author-icon"><span class="flaticon-user-3"></span></div>
                                        <div class="author-title">{{ val.penulis }}</div>
                                        <div class="date">{{ val.created_at | date("d F Y") }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

    <!--Facts Section-->

    <section class="facts-section">
        <div class="auto-container">
            <div class="row clearfix">
                <!--Fact Column-->

                <div class="fact-column col-lg-4 col-md-4 col-sm-12">
                    <div class="inner">
                        <div class="fact-box">
                            <span class="count-box">850k</span>
                        </div>
                        <h4 class="fact-title" style="padding-top: 17px">Seluruh penduduk</h4>
                    </div>
                </div>

                <!--Fact Column-->

                <div class="fact-column col-lg-4 col-md-4 col-sm-12">
                    <div class="inner">
                        <div class="fact-box">
                            <span class="count-box">1.5k</span>
                        </div>
                        <h4 class="fact-title" style="padding-top: 17px">Penduduk Laki-Laki </h4>
                    </div>
                </div>

                <!--Fact Column-->

                <div class="fact-column col-lg-4 col-md-4 col-sm-12">
                    <div class="inner">
                        <div class="fact-box">
                            <span class="count-box">24k</span>
                        </div>
                        <h4 class="fact-title" style="padding-top: 17px">Penduduk Perempuan</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Gallery Section -->
    <section class="news-section">
        <div class="auto-container">
            <div class="sec-title with-separator">
                <h2>Gallery</h2>
            </div>

            <div class="carousel-box">
                <div class="news-carousel owl-theme owl-carousel">
                    <!--Gallery Block-->

                    <div class="news-block">
                        <div class="inner-box">
                            <div class="image-box">
                                <figure class="image"><img src="{{baseUrl}}/images/resource/irigasi.jpg" alt=""></figure>
                                <div class="hover-box">
                                    <div class="link zoom-link">
                                        <a href="{{baseUrl}}/images/resource/irigasi.jpg" class="lightbox-image"><span
                                                class="icon flaticon-zoom-in"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="news-block">
                        <div class="inner-box">
                            <div class="image-box">
                                <figure class="image"><img src="{{baseUrl}}/images/resource/penyuluhan.jpg" alt=""></figure>
                                <div class="hover-box">
                                    <div class="link zoom-link">
                                        <a href="{{baseUrl}}/images/resource/penyuluhan.jpg" class="lightbox-image"><span
                                                class="icon flaticon-zoom-in"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="news-block">
                        <div class="inner-box">
                            <div class="image-box">
                                <figure class="image"><img src="{{baseUrl}}/images/resource/donor.jpg" alt=""></figure>
                                <div class="hover-box">
                                    <div class="link zoom-link">
                                        <a href="{{baseUrl}}/images/resource/donor.jpg" class="lightbox-image"><span
                                                class="icon flaticon-zoom-in"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--Contact Info Section-->

    <section class="contact-info-section">
        <div class="image-layer" style="background-image: url({{baseUrl}}/images/background/image-5.jpg);"></div>
        <div class="auto-container">
            <div class="sec-title with-separator centered">
                <h2>Kritik dan Saran</h2>
                <div class="separator"><span class="cir c-1"></span><span class="cir c-2"></span><span
                        class="cir c-3"></span></div>
                <div class="lower-text">Saran dan kritik anda akan merubah Desa menjadi lebih baik.
                </div>
            </div>
            <div class="info-outer clearfix">
                <!--Info Box-->
                <div class="info-box">
                    <div class="inner">
                        <div class="icon"><span class="flaticon-password"></span></div>
                        <strong>Telepon</strong>
                        <div class="info"><a href="tel:0822 4444 0928">0822 4444 0928</a></div>
                    </div>
                </div>

                <!--Info Box-->
                <div class="info-box">
                    <div class="inner">
                        <div class="icon"><span class="flaticon-phone-call"></span></div>
                        <strong>Whatsapp</strong>
                        <div class="info"><a href="tel:0822 4444 0928">0822 4444 0928</a></div>
                    </div>
                </div>

                <!--Info Box-->

                <div class="info-box">
                    <div class="inner">
                        <div class="icon"><span class="flaticon-contact"></span></div>
                        <strong>Email</strong>
                        <div class="info"><a href="mailto:Mail@mygovt.com">info@campurejo.com</a></div>
                    </div>
                </div>

                <!--Info Box-->

                <div class="info-box">
                    <div class="inner">
                        <div class="icon"><span class="flaticon-circular-clock"></span></div>
                        <strong>Jam Tutup</strong>
                        <div class="info">08.00 - 16.00</div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--Testimonials Section-->

    <section class="testimonials-section">

        <div class="image-layer" style="background-image: url({{baseUrl}}/images/background/image-2.jpg);"></div>


        <div class="auto-container">

            <div class="carousel-box">

                <div class="icon-box"><span>Q</span></div>

                <div class="testimonial-carousel owl-theme owl-carousel">

                    <!--Slide-->
                    {% for row in testimoni %}
                    <div class="slide-item">

                        <div class="inner">

                            <div class="info clearfix">

                                <div class="author-thumb"><img src="{{baseUrl}}/images/resource/author-thumb-1.jpg" alt=""></div>

                                <div class="name">{{ row.user_nama }}</div>

                                <div class="designation">Citizen</div>

                            </div>

                            <div class="text">“{{ row.testim }}”
                            </div>

                        </div>

                    </div>
                    {% endfor %}
                </div>

            </div>

        </div>


    </section>

    <!-- Main Footer -->


</div>
{% endblock %}