{% extends "template/main.twig" %}
{% block content %}
    <div class="page-wrapper">
        <!--Page Title-->
        <section class="page-banner">
            <div class="image-layer" style="background-image:url(../images/background/banner-image-5.jpg);"></div>
            <div class="banner-inner">
                <div class="auto-container">
                    <div class="inner-container clearfix">
                        <h1>News Grid View</h1>
                        <div class="page-nav">
                            <ul class="bread-crumb clearfix">
                                <li><a href="index.html">Home</a></li>
                                <li class="active">City News</li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </section>

        <div class="sidebar-page-container">
            <div class="auto-container">
                <div class="row clearfix">
                    <!--Content Side-->
                    <div class="content-side col-lg-8 col-md-12 col-sm-12">
                        <div class="content-inner">
                            <div class="blog-posts">
                                <div class="row clearfix">
                                    {%  for val in artikel %}
                                    <!--News Block-->
                                    <div class="news-block-five col-md-6 col-sm-12">
                                        <div class="inner-box">
                                            <div class="image-box">
                                                <figure class="image"><img src="{{ val.gambar_thumb }}"></figure>
                                                <div class="date"><span>27.11.2019</span></div>
                                                <div class="hover-box">
                                                    <div class="more-link"><a href="blog_detail.twig">Read More</a></div>
                                                </div>
                                            </div>
                                            <div class="lower-box">
                                                <div class="upper-info">
                                                    <h4><a href="{{ baseUrl }}/artikel/{{ val.alias }}">{{ val.judul }}</a></h4>
                                                    <div class="cat-info">
                                                        <a href="#"><span class="fa fa-folder"></span>{{ val.kategori }}</a>
                                                    </div>
                                                </div>
                                                <div class="meta-info clearfix">
                                                    <div class="author-info clearfix">
                                                        <div class="author-icon"><span class="flaticon-user-3"></span></div>
                                                        <div class="author-title">{{ val.publisher }}</div>
                                                    </div>
                                                    <div class="comments-info">
                                                        <a href="#"><span class="fa fa-eye"></span> 03</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>

                            <!--Pagination-->

                            <div class="pagination-box text-center">

                                <ul class="styled-pagination">

                                    <li class="prev"><a href="#"><span class="icon flaticon-arrows-1"></span> Prev</a></li>

                                    <li><a href="#" class="active">1</a></li>

                                    <li><a href="#">2</a></li>

                                    <li class="next"><a href="#">Next <span class="icon flaticon-right-2"></span></a></li>

                                </ul>

                            </div>

                        </div>

                    </div>



                    <!--Sidebar Side-->
                    {% include "template/sidebar_blog.twig" %}

                </div>

            </div>

        </div>

    </div>
    <!--End pagewrapper-->
{% endblock %}


