{% extends "template/main.twig" %}
{% block content %}
    <div class="page-wrapper">

        <!--Page Title-->

        <section class="page-banner">

            <div class="image-layer" style="background-image:url(../images/background/banner-image-5.jpg);"></div>

            <div class="banner-inner">

                <div class="auto-container">

                    <div class="inner-container clearfix">

                        <h1>Departments & Services</h1>

                        <div class="page-nav">

                            <ul class="bread-crumb clearfix">

                                <li><a href="index.html">Home</a></li>

                                <li class="active">Departments</li>

                            </ul>

                        </div>

                    </div>

                </div>

            </div>

        </section>



        <!--Services Section-->

        <section class="services-section-three">



            <div class="auto-container">

                <div class="sec-title with-separator centered">

                    <h2>Awesome City Services</h2>

                    <div class="separator"><span class="cir c-1"></span><span class="cir c-2"></span><span class="cir c-3"></span></div>

                    <div class="lower-text">Denounce with righteous indignation and dislike men who are so beguiled & demoralized our power of choice.</div>

                </div>



                <div class="row clearfix">

                    <!--Featured Block Six-->

                    <div class="featured-block-six col-lg-4 col-md-6 col-sm-12">

                        <div class="inner-box">

                            <div class="content-box">

                                <div class="image-layer" style="background-image: url(../images/resource/featured-image-16.jpg);"></div>

                                <div class="content">

                                    <div class="icon-box"><span class="flaticon-city-hall"></span></div>

                                    <div class="subtitle">Service</div>

                                    <h4><a href="#">For Residents</a></h4>

                                </div>

                                <div class="text">Foresee the pain and trouble that are bound to ensue;and equal.</div>

                            </div>

                            <div class="hvr-dropdown">

                                <ul>

                                    <li><a href="#">Healthcare</a></li>

                                    <li><a href="#">Animal & Pet Services</a></li>

                                    <li><a href="#">Education</a></li>

                                    <li><a href="#">Public Utilities</a></li>

                                </ul>

                            </div>

                        </div>

                    </div>

                    <!--Featured Block Six-->

                    <div class="featured-block-six col-lg-4 col-md-6 col-sm-12">

                        <div class="inner-box">

                            <div class="content-box">

                                <div class="image-layer" style="background-image: url(../images/resource/featured-image-16.jpg);"></div>

                                <div class="content">

                                    <div class="icon-box"><span class="flaticon-man"></span></div>

                                    <div class="subtitle">Service</div>

                                    <h4><a href="#">For Visitors</a></h4>

                                </div>

                                <div class="text">These cases are perfectly simple works easy work to distinguish.</div>

                            </div>

                            <div class="hvr-dropdown">

                                <ul>

                                    <li><a href="#">Healthcare</a></li>

                                    <li><a href="#">Animal & Pet Services</a></li>

                                    <li><a href="#">Education</a></li>

                                    <li><a href="#">Public Utilities</a></li>

                                </ul>

                            </div>

                        </div>

                    </div>

                    <!--Featured Block Six-->

                    <div class="featured-block-six col-lg-4 col-md-6 col-sm-12">

                        <div class="inner-box">

                            <div class="content-box">

                                <div class="image-layer" style="background-image: url(../images/resource/featured-image-16.jpg);"></div>

                                <div class="content">

                                    <div class="icon-box"><span class="flaticon-suitcase"></span></div>

                                    <div class="subtitle">Service</div>

                                    <h4><a href="#">For Business</a></h4>

                                </div>

                                <div class="text">These cases are perfectly simple works easy work to distinguish.</div>

                            </div>

                            <div class="hvr-dropdown">

                                <ul>

                                    <li><a href="#">Healthcare</a></li>

                                    <li><a href="#">Animal & Pet Services</a></li>

                                    <li><a href="#">Education</a></li>

                                    <li><a href="#">Public Utilities</a></li>

                                </ul>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </section>



        <!--Fluid Section-->

        <section class="fluid-section alternate-icon">

            <div class="top-icon-box"><span class="flaticon-shield-1"></span></div>

            <div class="outer-container">

                <div class="row clearfix">

                    <div class="column col-md-6 col-sm-12">

                        <div class="image-layer" style="background-image: url(../images/background/image-6.jpg);"></div>

                        <div class="clearfix">

                            <div class="inner">

                                <div class="content">

                                    <div class="upper-title">

                                        <div class="icon-box"><span class="flaticon-bag"></span></div>

                                        <h4>Do your dream <br>business in london city</h4>

                                    </div>

                                    <h2>Great place to develop your <br>career & business.</h2>

                                </div>

                            </div>

                        </div>

                    </div>

                    <div class="column col-md-6 col-sm-12">

                        <div class="image-layer" style="background-image: url(../images/background/image-7.jpg);"></div>

                        <div class="clearfix">

                            <div class="inner">

                                <div class="content">

                                    <div class="upper-title">

                                        <div class="icon-box"><span class="flaticon-building"></span></div>

                                        <h4>Thinking of <br>living in london city?</h4>

                                    </div>

                                    <h2>Everyone should live in a big <br>city at least once.</h2>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </section>



        <!--Inside Container-->

        <div class="pattern-container">

            <!--Departments Section-->

            <section class="departments-section">

                <div class="upper-row">

                    <div class="bg-layer"></div>

                    <div class="auto-container">



                        <div class="row clearfix">

                            <!--Image Column-->

                            <div class="image-column col-xl-3 col-lg-4 col-md-12">

                                <div class="inner">

                                    <figure class="image"><img src="images/resource/featured-image-17.jpg" alt=""></figure>

                                </div>

                            </div>



                            <div class="right-column col-xl-9 col-lg-12 col-md-12">

                                <div class="inner">

                                    <div class="sec-title with-separator">

                                        <h2>Explore Our Departments</h2>

                                        <div class="separator"><span class="cir c-1"></span><span class="cir c-2"></span><span class="cir c-3"></span></div>

                                    </div>

                                    <div class="row clearfix">

                                        <!--Feature Block-->

                                        <div class="featured-block-four col-lg-4 col-md-6 col-sm-12">

                                            <div class="inner-box">

                                                <div class="count-box"><span>01</span></div>

                                                <div class="icon-box"><span class="flaticon-police-station-1"></span></div>

                                                <div class="content">

                                                    <h4><a href="policing-crime.html">Policing & <br>crime department</a></h4>

                                                    <div class="read-more"><a href="policing-crime.html"><span>Read More</span></a></div>

                                                </div>

                                            </div>

                                        </div>

                                        <!--Feature Block-->

                                        <div class="featured-block-four col-lg-4 col-md-6 col-sm-12">

                                            <div class="inner-box">

                                                <div class="count-box"><span>02</span></div>

                                                <div class="icon-box"><span class="flaticon-statue"></span></div>

                                                <div class="content">

                                                    <h4><a href="arts-culture.html">Arts and <br>culture department</a></h4>

                                                    <div class="read-more"><a href="arts-culture.html"><span>Read More</span></a></div>

                                                </div>

                                            </div>

                                        </div>

                                        <!--Feature Block-->

                                        <div class="featured-block-four col-lg-4 col-md-6 col-sm-12">

                                            <div class="inner-box">

                                                <div class="count-box"><span>03</span></div>

                                                <div class="icon-box"><span class="flaticon-regulation"></span></div>

                                                <div class="content">

                                                    <h4><a href="transport-traffice.html">Traffic and <br>trasport department</a></h4>

                                                    <div class="read-more"><a href="transport-traffice.html"><span>Read More</span></a></div>

                                                </div>

                                            </div>

                                        </div>

                                        <!--Feature Block-->

                                        <div class="featured-block-four col-lg-4 col-md-6 col-sm-12">

                                            <div class="inner-box">

                                                <div class="count-box"><span>04</span></div>

                                                <div class="icon-box"><span class="flaticon-city-hall"></span></div>

                                                <div class="content">

                                                    <h4><a href="land-department.html">Housing & <br>land department</a></h4>

                                                    <div class="read-more"><a href="land-department.html"><span>Read More</span></a></div>

                                                </div>

                                            </div>

                                        </div>

                                        <!--Feature Block-->

                                        <div class="featured-block-four col-lg-4 col-md-6 col-sm-12">

                                            <div class="inner-box">

                                                <div class="count-box"><span>05</span></div>

                                                <div class="icon-box"><span class="flaticon-balance"></span></div>

                                                <div class="content">

                                                    <h4><a href="legal-finance.html">Finance & <br>legal department</a></h4>

                                                    <div class="read-more"><a href="legal-finance.html"><span>Read More</span></a></div>

                                                </div>

                                            </div>

                                        </div>

                                        <!--Feature Block-->

                                        <div class="featured-block-four col-lg-4 col-md-6 col-sm-12">

                                            <div class="inner-box">

                                                <div class="count-box"><span>06</span></div>

                                                <div class="icon-box"><span class="flaticon-hospital"></span></div>

                                                <div class="content">

                                                    <h4><a href="health-safety.html">Residential <br>health & safety</a></h4>

                                                    <div class="read-more"><a href="health-safety.html"><span>Read More</span></a></div>

                                                </div>

                                            </div>

                                        </div>



                                    </div>

                                </div>

                            </div>

                        </div>



                    </div>

                </div>



                <div class="services-row">

                    <div class="auto-container">

                        <div class="outer-container">

                            <div class="image-layer" style="background-image: url(../images/background/image-8.jpg);"></div>

                            <div class="row clearfix">

                                <div class="title-col col-xl-3 col-lg-12 col-md-12">

                                    <div class="sec-title light with-separator">

                                        <h2>Explore Online Services</h2>

                                        <div class="separator"><span class="cir c-1"></span><span class="cir c-2"></span><span class="cir c-3"></span></div>

                                    </div>

                                </div>

                                <div class="big-col col-xl-9 col-lg-12 col-md-12">

                                    <div class="row clearfix">

                                        <div class="link-col col-lg-4 col-md-6 col-sm-12">

                                            <ul>

                                                <li><a href="pengajuan.twig">Miscellaneous</a></li>

                                                <li><a href="pengajuan.twig">Taxes and bills</a></li>

                                                <li><a href="pengajuan.twig">Property tax related</a></li>

                                                <li><a href="pengajuan.twig">Certificates</a></li>

                                                <li><a href="pengajuan.twig">Building sanctions</a></li>

                                            </ul>

                                        </div>

                                        <div class="link-col col-lg-4 col-md-6 col-sm-12">

                                            <ul>

                                                <li><a href="pengajuan.twig">Birth certificate</a></li>

                                                <li><a href="pengajuan.twig">Commencement</a></li>

                                                <li><a href="pengajuan.twig">Death certificate</a></li>

                                                <li><a href="pengajuan.twig">Fire NOC</a></li>

                                                <li><a href="pengajuan.twig">Raise compaints</a></li>

                                            </ul>

                                        </div>

                                        <div class="link-col col-lg-4 col-md-6 col-sm-12">

                                            <ul>

                                                <li><a href="pengajuan.twig">Certificates</a></li>

                                                <li><a href="pengajuan.twig">Building sanctions</a></li>

                                                <li><a href="pengajuan.twig">Raise compaints</a></li>

                                                <li><a href="pengajuan.twig">Property tax related</a></li>

                                                <li><a href="pengajuan.twig">Taxes and bills</a></li>

                                            </ul>

                                        </div>

                                    </div>

                                </div>



                            </div>

                        </div>

                    </div>

                </div>

            </section>



            <!--Get Info Section-->

            <section class="get-info-section">

                <div class="auto-container">

                    <div class="sec-title with-separator centered">

                        <h2>The Freedom of Information</h2>

                        <div class="separator"><span class="cir c-1"></span><span class="cir c-2"></span><span class="cir c-3"></span></div>

                    </div>

                    <div class="row clearfix">

                        <div class="left-col col-lg-6 col-md-12 col-sm-12">

                            <div class="inner">

                                <div class="accordion-box">

                                    <!--Block-->

                                    <div class="accordion block current active-block">

                                        <div class="acc-btn active">Complaint about road parking?
                                            <div class="icon flaticon-cross"></div>
                                        </div>

                                        <div class="acc-content">

                                            <div class="content">

                                                <div class="text">Pleasure and praising pain was born and i will give you a complete account of the system actual teachings.</div>

                                            </div>

                                        </div>

                                    </div>



                                    <!--Block-->

                                    <div class="accordion block">

                                        <div class="acc-btn">How property tax is evaluated?
                                            <div class="icon flaticon-cross"></div>
                                        </div>

                                        <div class="acc-content">

                                            <div class="content">

                                                <div class="text">Pleasure and praising pain was born and i will give you a complete account of the system actual teachings.</div>

                                            </div>

                                        </div>

                                    </div>



                                    <!--Block-->

                                    <div class="accordion block">

                                        <div class="acc-btn">How can i get property tax bill online?
                                            <div class="icon flaticon-cross"></div>
                                        </div>

                                        <div class="acc-content">

                                            <div class="content">

                                                <div class="text">Pleasure and praising pain was born and i will give you a complete account of the system actual teachings.</div>

                                            </div>

                                        </div>

                                    </div>



                                </div>

                            </div>

                        </div>



                        <div class="right-col col-lg-6 col-md-12 col-sm-12">

                            <div class="inner">

                                <div class="default-form form-box">

                                    <form method="post" action="http://st.ourhtmldemo.com/new/City.Govt/contact.html">

                                        <div class="row clearfix">

                                            <div class="form-group col-lg-6 col-md-6 col-sm-12">

                                                <div class="field-inner">

                                                    <input type="text" name="field-name" placeholder="Name" required="" value="">

                                                </div>

                                            </div>



                                            <div class="form-group col-lg-6 col-md-6 col-sm-12">

                                                <div class="field-inner">

                                                    <input type="email" name="field-name" placeholder="Email" required="" value="">

                                                </div>

                                            </div>

                                            <div class="form-group col-lg-12 col-md-12 col-sm-12">

                                                <div class="field-inner">

                                                    <textarea name="field-name" placeholder="Enter your question..." required=""></textarea>

                                                </div>

                                            </div>



                                            <div class="form-group col-lg-12 col-md-12 col-sm-12">

                                                <button type="submit" class="theme-btn btn-style-one"><span class="btn-title">Submit Now</span></button>

                                            </div>

                                        </div>

                                    </form>

                                </div>

                            </div>

                        </div>

                    </div>



                    <div class="see-more">

                        <a href="faqs.html" class="theme-btn btn-style-three"><span class="btn-title">More Answers</span></a>

                    </div>



                </div>

            </section>



        </div>

    </div>
{% endblock %}