<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>City Government - City Regulatory HTML Template | Home Page 01</title>
    <!-- Stylesheets -->
    <link href="{{ baseUrl }}/css/bootstrap.css" rel="stylesheet">
    <link href="{{ baseUrl }}/css/style.css" rel="stylesheet">
    <!-- Responsive File -->
    <link href="{{ baseUrl }}/css/responsive.css" rel="stylesheet">
    <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
    <link rel="icon" href="images/favicon.png" type="image/x-icon">

    <!-- Responsive Settings -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
    <!--[if lt IE 9]>
    <script src="{{ baseUrl }}/js/respond.js"></script><![endif]-->
</head>
{% include "template/top-header.twig" %}
{% block content %}{% endblock %}

<footer class="main-footer">
    <!-- Footer Bottom -->
    <div class="footer-bottom">
        <div class="auto-container">
            <div class="inner">
                <div class="copyright">Copyrights <a href="#">&copy; 2020 <span
                                class="text-lowercase">sidesa.co.id.</span></a> All rights reserved.
                </div>
            </div>
        </div>
    </div>
</footer>
<!--End pagewrapper-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="icon flaticon-up-arrow-angle"></span></div>
<script src="{{ baseUrl }}/js/jquery.js"></script>
<script src="{{ baseUrl }}/js/popper.min.js"></script>
<script src="{{ baseUrl }}/js/bootstrap.min.js"></script>
<script src="{{ baseUrl }}/js/jquery-ui.js"></script>
<script src="{{ baseUrl }}/js/jquery.fancybox.js"></script>
<script src="{{ baseUrl }}/js/owl.js"></script>
<script src="{{ baseUrl }}/js/scrollbar.js"></script>
<script src="{{ baseUrl }}/js/appear.js"></script>
<script src="{{ baseUrl }}/js/wow.js"></script>
<script src="{{ baseUrl }}/js/custom-script.js"></script>

</html>
