<div class="sidebar-side col-lg-4 col-md-12 col-sm-12">

    <aside class="sidebar">
        <div class="bg-layer">
            <div class="image-layer" style="background-image:url(../../images/background/sidebar-bg-image.jpg);"></div>
        </div>
        <div class="sidebar-widget search-box">
            <div class="widget-inner">
                <div class="sidebar-title">
                    <h4>Cari</h4>
                </div>
                <form method="post" action="http://st.ourhtmldemo.com/new/City.Govt/blog.html">
                    <div class="form-group">
                        <input type="search" name="search-field" value="{{ search.judul_artikel }}" placeholder="Kata Kunci..." required="">
                        <button type="submit"><span class="icon flaticon-magnifying-glass"></span></button>
                    </div>
                </form>
            </div>
        </div>

        <div class="sidebar-widget cat-widget">

            <div class="widget-content">
                <div class="sidebar-title">
                    <h4>Kategori</h4>
                </div>
                {% for row in category %}
                    <ul class="cat-links clearfix">
                        <li>{{ row.kategori }}</li>
                    </ul>
                {% endfor %}
            </div>
        </div>

        <!--Posts-->

        <div class="sidebar-widget recent-posts">
            <div class="widget-inner">
                <div class="sidebar-title">
                    <h4>Popular Post</h4>
                </div>

                <div class="recent-posts-box">
                    <div class="post">
                        {% for val in artikel_terbaru %}
                            <div class="inner">
                                <figure class="post-thumb">
                                    <img src="{{ val.thumbnail }}" alt=""><a href="#" class="overlink"><span
                                                class="icon flaticon-zoom-in"></span></a></figure>
                                <div class="post-date">{{ val.created_at | date("d M, Y") }}</div>
                                <h5 class="title"><a href="#">{{ val.judul }}</a></h5>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </aside>

</div>