<!-- Preloader -->
<div class="preloader">
    <div class="icon"></div>
</div>
<!-- Main Header -->
<header class="main-header header-style-one">
    <!-- Header Top -->
    <div class="header-top header-top-one">
        <div class="auto-container">
            <div class="inner clearfix">
                <div class="top-left clearfix">
                    <div class="welcome-text">
                        <a href="tel:18001234567" style="color: #ffffff">
                            <span class="icon fa fa-phone-alt"></span>
                            0822 4444 0928
                        </a>
                    </div>
                    <div class="email"><a href="mailto:support@mygov.com"><span class="icon fa fa-envelope"></span>info@campurejo.com</a>
                    </div>
                </div>

                <div class="top-right clearfix">
                    <div class="hours">
                        <div class="hours-btn">Open Today: 08 to 16 <span class="arrow flaticon-down-arrow"></span>
                        </div>
                        <div class="hours-dropdown">
                            <ul>
                                <li><a href="#">Monday: 08 to 16</a></li>
                                <li><a href="#">Tuesday: 08 to 16</a></li>
                                <li><a href="#">Wednesday: 08 to 16</a></li>
                                <li><a href="#">Thursday: 08 to 16</a></li>
                                <li><a href="#">Friday: 08 to 16</a></li>
                                <li><a href="#">Saturday: 08 to 14</a></li>
                                <li><a href="#">Sunday: Off</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Header Upper -->

    <div class="header-upper">
        <div class="auto-container">
            <div class="inner-container clearfix">
                <!--Logo-->
                <div class="logo-box clearfix">
                    <div class="logo">
                        <a href="index.html" title="City Government - City Regulatory HTML Template"><img
                                    src="{{ baseUrl }}/images/logo.png" alt="City Government - City Regulatory HTML Template"
                                    title="City Government - City Regulatory HTML Template"></a>
                    </div>

                    <div class="search-btn search-btn-one">
                        <button type="button" class="theme-btn search-toggler"><span class="txt">Pencarian</span>
                            <span class="icon flaticon-loupe-1"></span></button>
                    </div>

                </div>
                <!--Nav-->
                <div class="nav-outer clearfix">
                    <!--Mobile Navigation Toggler-->
                    <div class="mobile-nav-toggler"><span class="icon flaticon-menu-1"></span></div>
                    <!-- Main Menu -->
                    <nav class="main-menu navbar-expand-md navbar-light">
                        <div class="collapse navbar-collapse show clearfix" id="navbarSupportedContent">
                            <ul class="navigation clearfix">
                                <li><a href="{{ baseUrl }}/">Beranda</a></li>

                                <li class="dropdown"><a href="#">Pemerintah Desa</a>
                                    <ul>
                                        <li><a href="{{ baseUrl }}/history">History</a></li>
                                        <li><a href="{{ baseUrl }}/gallery">Gallery</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="{{ baseUrl }}/pengajuan">Pengajuan Surat</a>
                                </li>

                                <li><a href="{{ baseUrl }}/acara">Acara</a>
                                </li>

                                <li><a href="{{ baseUrl }}/artikel">Artikel</a>
                                </li>
                                <li>
                                    <a href="{{ baseUrl }}/contact">Kontak</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <!--Other Links-->

                <div class="other-links clearfix">
                    <!--Language-->
                    <div class="language">
                        <div class="lang-btn">
                            <span class="icon flaticon-user"></span>
                            <span class="txt">Login</span>
                        </div>
                    </div>

                    <!--Social Links-->
                    <div class="social-links-one">
                        <ul class="clearfix">
                            <li>
                                <a href="#" class="has-tooltip"><span class="fab fa-facebook-f"></span>
                                    <div class="c-tooltip">
                                        <div class="tooltip-inner">Facebook</div>
                                    </div>
                                </a>
                            </li>

                            <li><a href="#" class="has-tooltip"><span class="fab fa-instagram"></span>
                                    <div class="c-tooltip">
                                        <div class="tooltip-inner">Instagram</div>
                                    </div>
                                </a></li>

                            <li><a href="#" class="has-tooltip"><span class="fab fa-youtube"></span>
                                    <div class="c-tooltip">
                                        <div class="tooltip-inner">Youtube</div>
                                    </div>
                                </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--End Header Upper-->


    <!-- Sticky Header  -->

    <div class="sticky-header">
        <div class="auto-container clearfix">
            <!--Logo-->
            <div class="logo pull-left">
                <a href="index.html" title=""><img src="images/sticky-logo.png" alt="" title=""></a>
            </div>

            <!--Right Col-->
            <div class="pull-right">
                <!-- Main Menu -->
                <nav class="main-menu clearfix">
                    <!--Keep This Empty / Menu will come through Javascript-->
                </nav>
                <!-- Main Menu End-->
            </div>
        </div>
    </div>
    <!-- End Sticky Menu -->


    <!-- Mobile Menu  -->

    <div class="mobile-menu">
        <div class="menu-backdrop"></div>
        <div class="close-btn"><span class="icon flaticon-targeting-cross"></span></div>
        <nav class="menu-box">
            <div class="nav-logo">
                <a href="index.html"><img src="images/nav-logo.png" alt="" title=""></a>
            </div>
            <div class="menu-outer">
                <!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header-->
            </div>
            <!--Social Links-->
            <div class="social-links">
                <ul class="clearfix">
                    <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                    <li><a href="#"><span class="fab fa-facebook-square"></span></a></li>
                    <li><a href="#"><span class="fab fa-pinterest-p"></span></a></li>
                    <li><a href="#"><span class="fab fa-instagram"></span></a></li>
                    <li><a href="#"><span class="fab fa-youtube"></span></a></li>
                </ul>
            </div>
        </nav>
    </div>
    <!-- End Mobile Menu -->
</header>
<!-- End Main Header -->

<!--Search Popup-->
<div id="search-popup" class="search-popup">
    <div class="close-search theme-btn"><span class="flaticon-targeting-cross"></span></div>
    <div class="popup-inner">
        <div class="overlay-layer"></div>
        <div class="search-form">
            <form method="post" action="http://st.ourhtmldemo.com/new/City.Govt/index.html">
                <div class="form-group">
                    <fieldset>
                        <input type="search" class="form-control" name="search-input" value=""
                               placeholder="Search Here" required>
                        <input type="submit" value="Search Now!" class="theme-btn">
                    </fieldset>
                </div>
            </form>

            <br>
            <h3>Recent Search Keywords</h3>
            <ul class="recent-searches">
                <li><a href="#">Finance</a></li>
                <li><a href="#">Idea</a></li>
                <li><a href="#">Service</a></li>
                <li><a href="#">Growth</a></li>
                <li><a href="#">Plan</a></li>
            </ul>
        </div>
    </div>
</div>
